<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fagboys</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

  </head>
  <body class="body-style">

      <div class="menu">

      </div>

      <header class="menu-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <h1 class="logo-bold-style">Logo</h1>
              <p class="logo-light-style">Type</p>
            </div>
            <div class="col-lg-7">
              <ul class="menu-style">
                <li class="menu-item"><h5><a href="#" class="menu-text-style">Home</a></h5></li>
                <li class="menu-item"><h5><a href="#" class="menu-text-style">About</a></h5></li>
                <li class="menu-item"><h5><a href="#" class="menu-text-style">Contact</a></h5></li>
                <li class="menu-item"><h5><a href="#" class="menu-text-style">News</a></h5></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <section class="section-style-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="section1-maintext-style">Main Text</h1>
              <h1 class="section1-slogan-style">This is the main slogan</h6>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">

          <div class="row">
            <div class="col-lg-12">
              <h1 class="heading-style">Technologies</h1>
            </div>
          </div>
          <div class="row technologies-row-style">
            <div class="col-lg-3 technologies-box-style">
              <div class="technologies-image-style">
                <img src="assets/images/technologies/gear.png" alt="">
              </div>
              <div class="technologies-title-style">
                <h6 style="font-weight:bold;">Entity Framework Core</h6>
              </div>
              <div class="technologies-text-style">
                <p>This is a sample text for this technology. It's about it's benefits or how it works.</p>
              </div>
            </div>
            <div class="col-lg-3 technologies-box-style">
              <div class="technologies-image-style">
                <img src="assets/images/technologies/coding.png" alt="">
              </div>
              <div class="technologies-title-style">
                <h6 style="font-weight:bold;">ASP.NET Core</h6>
              </div>
              <div class="technologies-text-style">
                <p>This is a sample text for this technology. It's about it's benefits or how it works.</p>
              </div>
            </div>
            <div class="col-lg-3 technologies-box-style">
              <div class="technologies-image-style">
                <img src="assets/images/technologies/pie-chart.png" alt="">
              </div>
              <div class="technologies-title-style">
                <h6 style="font-weight:bold;">MVC Design pattern</h6>
              </div>
              <div class="technologies-text-style">
                <p>This is a sample text for this technology. It's about it's benefits or how it works.</p>
              </div>
            </div>
            <div class="col-lg-3 technologies-box-style">
              <div class="technologies-image-style">
                <img src="assets/images/technologies/puzzle-pieces.png" alt="">
              </div>
              <div class="technologies-title-style">
                <h6 style="font-weight:bold;">Bootstrap framework</h6>
              </div>
              <div class="technologies-text-style">
                <p>This is a sample text for this technology. It's about it's benefits or how it works.</p>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="section-style-blue">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6 about-image-style">

            </div>
            <div class="col-lg-6">

                <div class="about-content-style">
                  <h1 class="heading-style" style="color:white;">About</h1>
                  <div class="about-text-style">
                    <p class="about-paragraph-style">Our team is interested about building web apps, mobile apps and game developing over Microsoft practical and useful frameworks.</p>
                    <p class="about-paragraph-style">If you like to help or support programming communities, please follow us to make world a better place.</p>
                    <p class="about-paragraph-style">This is our duty to refer different services to our customers. This will show how much we care about people who care about us.</p>
                    <p class="about-paragraph-style"><a href="#" style="color:#468fb3">Read more</a></p>
                  </div>
                </div>




            </div>
          </div>
        </div>
      </section>

      <section class="section-style">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Fourth section
            </div>
          </div>
        </div>
      </section>

      <section class="section-style-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Fivth section
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Sixth
            </div>
          </div>
        </div>
      </section>

      <section class="section-style-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Footer
            </div>
          </div>
        </div>
      </section>

  </body>
</html>
