<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fagboys</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

<style media="screen">
  @font-face {
    font-family: CenturyGothic;
    src: url("assets/fonts/Century_Gothic.ttf");
  }
</style>


  </head>
  <body>

      <div class="menu">

      </div>
      <header class="menu-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <h1 style="float:left; margin-top:1vh; color:white;">Logo</h1>
              <p style="float:left; margin-top:2.8vh; margin-left: 0.5vh;color:white; font-size:2vh;">Type</p>
            </div>
            <div class="col-lg-7">
              <ul class="menu-style">
                <li class="menu-item"><h5>Home</h5></li>
                <li class="menu-item"><h5>About</h5></li>
                <li class="menu-item"><h5>Contact</h5></li>
                <li class="menu-item"><h5>News</h5></li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <section class="section-style-main">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 style="margin-top: 35%; text-align: center; font-size: 10vh; color:white; font-family:CenturyGothic;">Main Text</h1>
              <h1 style="text-align: center; font-size: 4.3vh; color:white; font-family:CenturyGothic;">This is the main slogan</h6>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Second section
            </div>
          </div>
        </div>
      </section>

      <section class="section-style-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Third section
            </div>
          </div>
        </div>
      </section>

      <section class="section-style">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Fourth section
            </div>
          </div>
        </div>
      </section>

      <section class="section-style-blue">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Fivth section
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Sixth
            </div>
          </div>
        </div>
      </section>

      <section class="section-style-footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Footer
            </div>
          </div>
        </div>
      </section>

  </body>
</html>
