@font-face {
  font-family: CenturyGothic;
  src: url("assets/fonts/Century_Gothic.ttf");
}

body.body-style
{
  font-family: CenturyGothic;
}

section
{
  height: auto;
}

section.section-style
{
  height: 100vh !important;
  z-index: 1;
}

section.section-style-blue
{
  height: 100vh !important;
  background-color: #0f1930;
  z-index: 1;
}

section.section-style-main
{
  background-image:url("assets/images/Main.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh !important;
  background-color: #0f1930;
  z-index: 1;
}

section.section-style-footer
{
  height: 70vh !important;
  background-color: #111111;
}

.logo-bold-style
{
  float:left;
  font-weight: bold;
  margin-top:1vh;
  color:white;
}

.logo-light-style
{
  float:left;
  margin-top:2.8vh;
  margin-left: 0.5vh;
  color:white;
  font-size:2vh;
}

.menu
{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 80px;
  opacity: 20%;
  z-index: 2;
}
.menu-content
{
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 2;
}

ul.menu-style
{
  float: right;
  height: 100%;
  padding-top: 25px;
}

li.menu-item
{
  float: left;
  width:120px;
  list-style-type: none;
  color: white;
}

.menu-text-style
{
  font-weight: bold;
}

.section1-maintext-style
{
  margin-top: 35%;
  text-align: center;
  font-size: 10vh;
  font-weight: bold;
  color:white;
}

.section1-slogan-style
{
  text-align: center;
  font-size: 4.3vh;
  color:white;
}

.heading-style
{
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
}

.technologies-row-style
{
  margin-bottom: 100px;
}

.technologies-box-style
{
  margin-top: 50px;
}

.technologies-image-style
{
  text-align: center;
  padding: 10px;
}

.technologies-title-style
{
  text-align: center;
  padding: 10px;
}

.technologies-text-style
{
  margin: auto;
  width: 70%;
  text-align: justify;
  padding: 10px;
}
