@font-face {
  font-family: CenturyGothic;
  src: url("assets/fonts/Century_Gothic.ttf");
}

body.body-style
{
  font-family: CenturyGothic;
}

section
{
  height: auto;
}

section.section-style
{
  height: auto !important;
  z-index: 1;
}

section.section-style-blue
{
  height: auto !important;
  background-color: #0f1930;
  z-index: 1;
}

section.section-style-main
{
  background-image:url("assets/images/Main.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh !important;
  background-color: #0f1930;
  z-index: 1;
}

section.section-style-footer
{
  height: 70vh !important;
  background-color: #111111;
}

.logo-bold-style
{
  float:left;
  font-weight: bold;
  margin-top:1vh;
  color:white;
}

.logo-light-style
{
  float:left;
  margin-top:2.8vh;
  margin-left: 0.5vh;
  color:white;
  font-size:2vh;
}

.menu
{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 80px;
  opacity: 20%;
  z-index: 2;
}
.menu-content
{
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 2;
}

ul.menu-style
{
  float: right;
  height: 100%;
  padding-top: 25px;
}

li.menu-item
{
  float: left;
  width:120px;
  list-style-type: none;
  color: white;
}

a.menu-text-style
{
  font-weight: bold;
  color: white;
}

a.menu-text-style:hover
{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.section1-maintext-style
{
  margin-top: 35%;
  text-align: center;
  font-size: 10vh;
  font-weight: bold;
  color:white;
}

.section1-slogan-style
{
  text-align: center;
  font-size: 4.3vh;
  color:white;
}

.heading-style
{
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
}

.technologies-row-style
{
  margin-bottom: 100px;
}

.technologies-box-style
{
  margin-top: 50px;
}

.technologies-image-style
{
  text-align: center;
  padding: 10px;
}

.technologies-title-style
{
  text-align: center;
  padding: 10px;
}

.technologies-text-style
{
  margin: auto;
  width: 70%;
  text-align: justify;
  padding: 10px;
}

.about-image-style
{
  height: 100vh;
  background-image: url("assets/images/about/12798.jpg");
  background-size: cover;
  background-position: 40%;
}

.about-content-style
{
  margin: auto;
  width: 70%;
}

.about-text-style
{
  margin-top: 5vh;
  margin-bottom: 15vh;
}

.about-paragraph-style
{
  font-size: 3vh;
  text-align: justify;
  color: white;
  line-height: 5.5vh;
}

.contact-image-style
{
  height: 100vh;
  background-image: url("assets/images/contact/contact-image.jpg");
  background-size: cover;
  background-position: 70%;
}

.contact-content-style
{
  margin: auto;
  width: 70%;
  margin-top: 5vh;
}

.contact-paragraph-style
{
  font-size: 3vh;
  text-align: justify;
  line-height: 5.5vh;
  margin-top: 5vh;
}

.contact-form-style
{
  margin: auto;
  padding-top: 2vh;
}

.contact-input-style
{
  float:left;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 3vh;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #dddddd;
}

.contact-input-style:focus
{
  float:left;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 3vh;
  outline-style: none;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #00ff12;
}

.contact-textarea-style
{
  float:left;
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-top: 3vh;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #dddddd;
}

.contact-textarea-style:focus
{
  float:left;
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-top: 3vh;
  outline-style: none;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: #00ff12;
}

.contact-button-style
{
  margin: 0 auto;
  margin-top: 3vh;
  width: 30%;
  background-color: black;
  color: #ffffff;
  outline-style: none;
  border: none;
  border-radius: 3px;
  height: 5vh;
}




/*
technologies-row-style
{
  margin-bottom: 100px;
}

.technologies-box-style
{
  margin-top: 50px;
}

.technologies-image-style
{
  text-align: center;
  padding: 10px;
}

.technologies-title-style
{
  text-align: center;
  padding: 10px;
}

.technologies-text-style
{
  margin: auto;
  width: 70%;
  text-align: justify;
  padding: 10px;
}

*/


.services-row-style
{
    margin-bottom: 100px;
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
}

.services-box-style
{
    text-align: center;
}

.services-title-style
{
    
}
